<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1053839807172-ig5hp47soct5qn4q42k53et3biibnv99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053839807172-ig5hp47soct5qn4q42k53et3biibnv99</string>
	<key>API_KEY</key>
	<string>AIzaSyC-8L-sjpC20mW--Ff41m40cOe7YmhwuMs</string>
	<key>GCM_SENDER_ID</key>
	<string>1053839807172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cuongdeve.ClothesShop</string>
	<key>PROJECT_ID</key>
	<string>clothesshop-5e895</string>
	<key>STORAGE_BUCKET</key>
	<string>clothesshop-5e895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053839807172:ios:f4197357100a349f</string>
	<key>DATABASE_URL</key>
	<string>https://clothesshop-5e895.firebaseio.com</string>
</dict>
</plist>